@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

body {
    background-color: #7e311f;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-size: 25px;
}

button {
    background-color: #a76b12;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 20px;
}

.card.ativo{
    display: block;
}

div{
    display: none;
}

main {
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 90%;
}